@media (max-width: 767px) {
    .gradient-section {
        .v-center {
            height: auto !important;
        }
    }
    
    .workflow-section {
        .v-center {
            height: auto !important;
        }
    }
}

@media (max-width: 768px) {
    .hero-video-section {
        .homepage-hero-module {
            .hero-text {
                h1 {
                    font-size: 4rem;
                }
                h2 {
                    font-size: 2.5rem;
                }
            }
        }
    }

    .gradient-section {
        .v-center {
            align-items: flex-start;
            height: 100%;

            .f-greet-l {
                margin: 50px 0px;
                align-items: flex-start;

                &:before {
                    width: 100%;
                }
                &:after {
                    display: none;
                }
            }
            
            .f-greet-r {
                margin: 40px 0px;
                align-items: flex-start;
            }
        }
    }

    .wwd-section {
        background: #ffffff;

        .flex-container {
            flex-direction: column;
            height: auto;

            .wwd-content {
                @include flex;
                padding: 0px 10% 0px;
                height: 100vh;
                
                .bottom-right-elem,
                .top-left-elem {
                    display: none;
                }
            }
            
            .wwd-image {
                display: none;
                // @include flex;
                // height: 100vh;
                // padding-top: 0px;

                // .full-img-blk {
                //     .content {
                //         width: 100%;
                //         height: 50%;
                //     }
                // }
            }
        }
    }

    .workflow-section {
        .v-center {
            padding: 120px 0px 50px;
            align-items: center;
            height: 100%;
            
            ul {
                flex-direction: column;
                margin-top: 30px;

                li {
                    &:nth-child(odd),
                    &:nth-child(even) {
                        margin: 10px auto;
                    }
                    
                    &:nth-child(even) {
                        img {
                            transform: rotate(0deg);
                        }
                    }
                }
            }

            .lm-btn {
                margin-top: 50px;
            }
        }
    }

    .personnel-section {
        .v-center {
            align-items: flex-end;
            height: auto;
            padding: 120px 10% 50px;

            .gray-element {
                width: 73%;
            }

            .personnel-list {
                padding: 0px;
            }
        }
    }

    .stand-out-section {
        .v-center {
            height: auto;
            align-items: flex-start;
            padding: 120px 10% 50px;
            
            .stand-out-cont {
                padding: 0px;
            }
            
            .panel-default {
                .panel-heading {
                    h3 {
                        a {
                            span {
                                margin-right: 10px;
                            }
                        }
                    
                    }
                }
            }

            .img-cont {    
                &:before {
                    display: none;
                }
            }
        }
    }

    .blog-section {
        .v-center {
            padding-top: 120px;
            height: auto;

            .blog-list {
                justify-content: flex-start;
                flex-direction: column;
                
                li {
                    width: 100%;
                    margin: 20px 0px;

                    img {
                        object-fit: cover;
                        object-position: 50% 50%;
                        width: 100%;
                    }
                }
            }
        }
    }

    .contact-section {
        .section-padding {
            padding: 120px 10% 50px;

            .contact-places {
                margin: 0px 0px;

                .contact-container {
                    margin: 20px 0px;
                    
                    .contact-addr {
                        padding: 10px;
                    }
                }
            }
        }
    }

    #about {
        .our-company {
            flex-direction: column;
            width: 75%;
            margin: 0px auto;
            height: auto;
            padding: 120px 0px 50px;

            .col {
                margin: 30px 0px;
                width: 100% !important;

                &>div {
                    padding: 0px !important;
                }
            }

            .col:last-child {            
                .about-img {
                    &:before {
                        display: none;
                    }
                }
            }
        }
        
        .our-team {
            flex-direction: column;
            width: 75%;
            margin: 0px auto;
            padding: 0px;
            
            .col {
                margin: 30px 0px;
                padding: 0px !important;
                width: 100% !important;
            }
        }
        
        .our-culture {
            flex-direction: column;
            
            .col {
                margin: 0px;
                padding: 0px !important;
                width: 100% !important;

                .panel-default {
                    .panel-heading {
                        h3 {
                            a {
                                span {
                                    margin-right: 0px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #what-we-do {
        .our-services {
            height: auto;
            flex-direction: column;
        }
        
        .our-services {
            padding: 120px 0px 50px;

            .col {
                &:first-child {
                    .flexholder-only {
                        display: none;
                    }
                    
                    &>div {
                        width: 100%;
                    }
                }

                &:last-child {
                    .top-element,
                    .bottom-element {
                        display: none;
                    }
                    
                    ul {
                        flex-direction: column;
                        width: 100%;
                
                        li {
                            margin: 20px 0px;
                            width: 80%;
    
                            .full-img-blk {
                                .content {
                                    &.style-4 {
                                        height: 350px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
            
        .our-pricing {
            .v-center {
                ul {
                    margin: 50px auto 0px auto;
                    flex-direction: column;
                    
                    li {
                        &:nth-child(odd) {
                            width: 100%;
                        }

                        &:nth-child(even) {
                            width: 10%;
                            margin: 20px 0px;

                            img {
                                transform: rotate(90deg);
                            }
                        }
                    }
                }
            }
        }
        
        .roles {
            .roles-content {
                padding: 50px 0px;
                flex-direction: column;
                
                .img-container {
                    width: 100%;
                    
                    &:after {
                        display: none;
                    }
                }
                
                .desc-container {
                    width: 100%;
                    padding: 50px !important;
                }
            }
        }
    }

    #pricing {
        .our-pricing {
            .pricing-chart {
                flex-direction: column;
                
                .price {
                    width: 100%;
                    border-right: none;
                    border-bottom: 2px solid $color-brand;
                }

                .content {
                    width: 100%;
                }
            }
        }

        .staffing-solutions {       
            .check-list {
                padding: 0px 20px;
                width: 100% !important;
            }
        }

        .contact-section {
            background: #ffffff !important;

            .contact-form {
                width: 100%;
            }
        }
    }
}

@media (max-width: 1024px) and (orientation: landscape) {
    .stand-out-section {
        .v-center {
            height: auto;
            align-items: flex-start;
            padding: 120px 10% 50px;
            
            .stand-out-cont {
                padding: 0px;
            }
            
            .panel-default {
                .panel-heading {
                    h3 {
                        a {
                            span {
                                margin-right: 10px;
                            }
                        }
                    
                    }
                }
            }

            .img-cont {    
                &:before {
                    display: none;
                }
            }
        }
    }

    .personnel-section {
        .v-center {
            padding: 120px 10% 50px;
            height: auto;
        }
    }

    .blog-section {
        .v-center {
            padding: 120px 10% 50px;
        }
    }
}