@charset "UTF-8";

// Font Colors
$color-brand: #3f9ca0;
$color-primary: #424141;
$color-secondary: #696969;
$color-tertiary: #7e7b77;
$color-white: #ffffff;
$color-gradient-left: #419598;
$color-gradient-right: #2ed1d7;